<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-md-8">
            <div class="box box-widget" style="padding: 50px;">
                <h2 class="qdt-header-title" style="font-size: 20px; font-weight: bold;">HƯỚNG DẪN CÁCH ĐĂNG KÝ THAM GIA</h2>
                <div class="cac-goi-dau-tu-box">
                    <span style="font-size: 18px; color: red;">QUESTRA HOLDINGS</span>
                    <p class="normal-text-qt" style="float: left;">- một thương hiệu đầu tư tài chính hàng đầu thế giới, chuyên cung cấp cho các nhà đầu tư một phương tiện
                        hoàn hảo nhất để bắt đầu thực hiện kế hoạch và ước mơ của mình. Một mô hình kinh doanh độc đáo với
                        các danh mục đầu tư lợi nhuận cao, cho phép mỗi người có thể đạt được tự do tài chính một cách đơn
                        giản và hiệu quả cao.
                    </p>
                    </p>
                    <p class="normal-text-qt">“Ý tưởng cơ bản của Questra là cung cấp cho các nhà đầu tư một cơ hội đầu tư an toàn, uy tín, một nguồn
                        lợi nhuận đều đặn, lâu dài, cũng như một sự nghiệp bền vững.”</p>

                    <p class="normal-text-qt next-line">
                        Từ tháng 07/2016 thì QUESTRA (questra.es ) tách ra làm 2 công ty:
                    </p>
                    <p class="normal-text-qt"><i style="color: red;" class="fa fa-pencil" aria-hidden="true"> Questraworld.es </i> : Quản lý hoa
                        hồng</p>
                    <p class="normal-text-qt"><i style="color: green;" class="fa fa-pencil" aria-hidden="true"> Atlanticgam.es </i> : Quản lý vốn
                        và các gói đầu tư đây là site chúng ta sẽ đăng ký làm nhà đầu tư.</p>
                    <img style="margin-top: 20px; width: 80%; margin-bottom: 20px; text-align: center;" src="style/icon/dangky/1.png" />
                    <p class="normal-text-qt" style="color: blue;">Bước 1: Truy cập vào website: </p>
                    <a href="https://private.atlanticgam.es/#/sign-up/partner=P09201483790591" target="blank">https://private.atlanticgam.es/#/sign-up/partner=P09201483790591</a>

                    <p class="normal-text-qt">
                        Để đăng ký tham gia các Bạn truy cập vào website: <a href="https://private.atlanticgam.es">https://private.atlanticgam.es</a>                        hoặc click vào đường link sau:
                        <!--<button style="border-radius: 10px !important;" class="btn btn-info btn-dangky" ng-click="vm.registerLink()" >THAM GIA NGAY</button>-->
                        <img src="style/icon/register.gif" alt="Đăng ký tham gia" style="cursor: pointer;" ng-click="vm.registerLink()" />
                    </p>

                    <img style="margin-top: 20px; width: 75%; margin-bottom: 20px;" src="style/icon/dangky/2.png" />

                    <p class="normal-text-qt">Các bạn lưu ý tại ô số 4: “Bạn hãy nhập ID đại lý của bạn” thì các Bạn nhập vào ID là:
                        <span class="text-red-qt">P09201483790591</span> sẽ hiện thị lên tên <span class="text-red-qt">“Jackie”</span>.
                    </p>
                    <p class="normal-text-qt">Sau khi click vào <span class="text-green-qt">“ĐĂNG KÝ”</span> màn hình sẽ hiện thị giao diện như sau:
                        </p>
                    <img style="margin-top: 20px; width: 75%; margin-bottom: 20px;" src="style/icon/dangky/3.png" />

                    <p class="normal-text-qt">
                        <span class="text-green-qt"># Mật khẩu (từ SMS):</span> Để có thể nhận được mật khẩu một cách nhanh
                        chóng hơn Admin khuyên bạn nên click vào <span class="text-red-qt">“Không nhận được tin nhắn SMS? Gửi qua E-mail”.</span>                        Ngay lập tức sẽ có 1 Email gửi vào địa chỉ mail của bạn mới điền bên trên, bạn copy dãy số đó, điền
                        vào ô Mật khẩu là được.
                    </p>

                    <p class="normal-text-qt">Như vậy chúng ta đã có tài khoản để sử dụng. </p>
                    <p class="normal-text-qt">Các Bạn vào lại trang <a href="https://private.atlanticgam.es" target="black">https://private.atlanticgam.es</a>                        rồi nhập vào </p>
                    <p class="normal-text-qt">User name: số điện thoại của bạn ( +84…)</p>
                    <p class="normal-text-qt">Password: dãy số gửi về email của bạn.</p>
                    <div class="text-center">
                        <img src="style/icon/register.gif" alt="Đăng ký tham gia" style="cursor: pointer;" ng-click="vm.registerLink()" />
                        <!--<button style="border-radius: 10px !important;" class="btn btn-info btn-dangky" ng-click="vm.registerLink()" >THAM GIA NGAY</button>-->
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-widget">
                <div class="box-header with-border">
                    <h3 class="box-title">CÁC BÀI VIẾT GẦN ĐÂY</h3>
                </div>
                <div class="box-body">
                    <ul class="products-list product-list-in-box">
                        <li class="item" ng-repeat="tin in vm.listTintuc">
                            <div class="product-img">
                                <img ng-src='{{tin.image}}' alt="Product Image">
                            </div>
                            <div class="product-info">
                                <a ui-sref="start.chi-tiet-tin({postId: tin.id})" class="product-title">{{tin.title}} </a>
                                <span class="product-description">
                                    {{tin.shortDesc}}
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-footer text-center">
                    <a ui-sref="start.danh-sach-tin({cateId: 'tin-tuc'})" class="uppercase">Xem hết tết cả các bài viết</a>
                </div>
            </div>

            <div class="box box-widget">
                <div class="box-header with-border">
                    <h3 class="box-title">ĐẦU TƯ TÀI CHÍNH</h3>
                </div>
                <div class="box-body">
                    <ul class="products-list product-list-in-box">
                        <li class="item" ng-repeat="tin in vm.listKttc">
                            <div class="product-img">
                                <img ng-src='{{tin.image}}' alt="Product Image">
                            </div>
                            <div class="product-info">
                                <a ui-sref="start.chi-tiet-tin({postId: tin.id})" class="product-title">{{tin.title}} </a>
                                <span class="product-description">
                                    {{tin.shortDesc}}
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-footer text-center">
                    <a ui-sref="start.danh-sach-tin({cateId: 'dau-tu-tai-chinh'})" class="uppercase">Xem hết tết cả các bài viết</a>
                </div>
            </div>

            <div class="box box-widget">
                <div class="box-header with-border">
                    <h3 class="box-title">HỖ TRỢ GIAO DỊCH</h3>
                </div>
                <div class="box-body">
                    <ul class="products-list product-list-in-box">
                        <li class="item" ng-repeat="tin in vm.listHtgd">
                            <div class="product-img">
                                <img ng-src='{{tin.image}}' alt="Product Image">
                            </div>
                            <div class="product-info">
                                <a ui-sref="start.chi-tiet-tin({postId: tin.id})" class="product-title">{{tin.title}} </a>
                                <span class="product-description">
                                    {{tin.shortDesc}}
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="box-footer text-center">
                    <a ui-sref="start.danh-sach-tin({cateId: 'ho-tro-giao-dich'})" class="uppercase">Xem hết tết cả các bài viết</a>
                </div>
            </div>

            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-text-width"></i>
                    <h3 class="box-title">THÔNG TIN LIÊN HỆ</h3>
                </div>
                <div class="box-body">
                    <p class="text-red"># Mọi thông tin hổ trợ đầu tư </p>
                    <p class="text-black"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Cần Euro để mua gói</p>
                    <p class="text-black"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Cần thanh khoản Euro</p>
                    <p class="text-black"><i class="fa fa-hand-o-right" aria-hidden="true"></i> Cần giao dịch, mua bán Bitcoin</p>
                    <hr>
                    <p>Các Bạn có thể liên hệ theo thông tin sau</p>
                    <p>TUỆ HIẾU  -  JACKIE LE (Mr)</p>
                    <!--<hr style="width: 30%; float: left;">-->
                    <div class="inline" style=" cursor: pointer;" ng-click="vm.linkRegister()">
                        <img class="inline" ng-src="style/icon/footer/questra.png" style="width: 20px;" />
                        <p class="inline " style="margin-left: 10px;">ID: P09201483790591 (Jackie)</p>
                    </div>
                    <div class="inline" style="">
                        <img class="inline" ng-src="style/icon/footer/phone.png" style="width: 20px;" />
                        <p class="inline " style="margin-left: 10px;">090.838.6268 – 0967.62.7791</p>
                    </div>
                    <div class="inline" style="">
                        <img class="inline" ng-src="style/icon/footer/mail.png" style="width: 20px;" />
                        <p class="inline " style="margin-left: 10px;">atlanticgamvietnam.com@gmail.com</p>
                    </div>
                    <div class="inline" style=" width: 100%;">
                        <img class="inline" ng-src="style/icon/footer/zalo.png" style="width: 20px;" />
                        <p class="inline " style="margin-left: 10px;">+84908386268</p>
                    </div>
                    <br>
                    <div class="inline" style="">
                        <img class="inline" ng-src="style/icon/footer/send.png" style="width: 20px;" />
                        <p class="inline " style="margin-left: 10px;">+84908386268</p>
                    </div>
                    <div class="inline" style=" cursor: pointer;" ng-click="vm.linkFaceFooter()">
                        <img class="inline" ng-src="style/icon/footer/face.png" style="width: 20px;" />
                        <p class="inline" style="margin-left: 10px;">Atlanticgam Vietnam Facebook</p>
                    </div>
                    <div class="inline" style=" cursor: pointer;" ng-click="vm.linkTubeFooter()">
                        <img class="inline" ng-src="style/icon/footer/youtube.png" style="width: 20px;" />
                        <p class="inline " style="margin-left: 10px;">Atlanticgam Viet Nam Youtube</p>
                    </div>
                </div>
            </div>
            <div class="box box-success">
                <div class="box-body no-padding">
                    <ul class="users-list clearfix" style="background-color: white;" ng-click="vm.redirectSociable('https://www.facebook.com/Atlanticgam.Vietnam/')">
                        <li style="background-color: #3b5998; cursor: pointer;">
                            <i style="font-size: 50px; color: white;" class="fa fa-facebook-square"></i>
                        </li>
                        <li style="background-color: #CE3C2D; cursor: pointer;" ng-click="vm.redirectSociable('https://plus.google.com/u/1/118035589625567301650')">
                            <i style="font-size: 50px; color: white;" class="fa fa-google-plus"></i>
                        </li>
                        <li style="background-color: #cc2127; cursor: pointer;" ng-click="vm.redirectSociable('https://www.youtube.com/channel/UC_WaV2Pu3NLEkaFcRtRXw2A')">
                            <i style="font-size: 50px; color: white;" class="fa fa-youtube-play"></i>
                        </li>
                        <li style="background-color: #6CBB45; height: 70px; cursor: pointer;" ng-click="vm.redirectSociable('https://private.atlanticgam.es/#/sign-up/partner=P09201483790591')">
                            <img src="style/icon/questra.png" width="40px;" style="margin-top: 8px;">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="box box-widget">
                <div class="box-body">
                    <h4>NHẬN THÔNG TIN QUA EMAIL</h4>
                    <hr>
                    <p style="text-align: justify;text-justify: inter-word; font-size: 14px;  margin-top: 20px;">
                        Vui lòng nhập email hoặc số điện thoại của bạn để chúng tôi có thể gửi tặng tới bạn những món quà cũng như những thông tin mới nhất về Atlanticgam
                        Việt Nam.
                    </p>
                    <div class="f-receive-email-box">
                        <input class="form-control" placeholder="Nhập email hoặc số điện thoại của bạn" ng-model="vm.email" />
                        <button class="btn btn-info btn-submit-email" ng-click="vm.registerEmail()">Gửi</button>
                    </div>
                    <p style="text-align: center; font-size: 11px;">(* Atlanticgam Việt Nam cam kết bảo mật mọi thông tin của Bạn)</p>
                </div>
            </div>
            <div class="box box-widget">
                <div class="box-body">
                    <p style="font-size: 20px; ">
                        ĐĂNG KÝ THAM GIA
                    </p>
                    <hr>
                    <div class="inline" style="">
                        <img class="inline" ng-src="style/icon/footer/gift.ico" style="width: 20px; margin-right: 15px;" />
                        <p class="" style="font-size: 14px; ;">Tặng ngay 1.000.000VNĐ vào tài khoản khi đầu tư vào gói 2430 Euro.</p>
                    </div>
                    <div class="inline" style="">
                        <img class="inline" ng-src="style/icon/footer/gift.ico" style="width: 20px; margin-right: 15px;" />
                        <p class="" style="font-size: 14px; ;">Tặng ngay 3.000.000VNĐ vào tài khoản khi đầu tư vào gói 7290 Euro.</p>
                    </div>
                    <div class="inline" style="">
                        <img class="inline" ng-src="style/icon/footer/gift.ico" style="width: 20px; margin-right: 15px;" />
                        <p class="" style="font-size: 14px; ;">Tặng ngay 9.000.000VNĐ vào tài khoản khi đầu tư vào gói 21870 Euro.</p>
                    </div>
                </div>
            </div>
            <div class="box box-solid">
                <img src="style/icon/register.gif" alt="Đăng ký tham gia" style="cursor: pointer;" ng-click="vm.register()" />
            </div>
        </div>
    </div>
</div>