<div ui-view>
    <div when-visible="vm.animateElementInLeft" when-not-visible="vm.animateElementOut" class="post-animation col-md-12 qt-introduce-box qt-post">
        <div class="container">
            <div class="row">
                <div class="col-md-4 qt-introduce-box-item">
                    <p class="qt-home-gt-title">GIỚI THIỆU QUESTRA</p>
                    <div class="qt-home-gt-img"><img src="style/icon/homepage/gioithieu.png" alt="Chicago"></div>
                    <a class="btn btn-info qt-home-gt-btn" ui-sref="start.gioi-thieu">Xem thêm</a>
                </div>
                <div class="col-md-4 qt-introduce-box-item">
                    <p class="qt-home-gt-title">TẦM NHÌN</p>
                    <div class="qt-home-gt-img"><img src="style/icon/homepage/tamnhin.png" alt="Chicago"></div>
                    <a class="btn btn-info qt-home-gt-btn" ui-sref="start.tam-nhin">Xem thêm</a>
                </div>
                <div class="col-md-4 qt-introduce-box-item">
                    <p class="qt-home-gt-title">GÓI ĐẦU TƯ</p>
                    <div class="qt-home-gt-img"><img src="style/icon/homepage/gocdautu.png" alt="Chicago"></div>
                    <a class="btn btn-info qt-home-gt-btn" ui-sref="start.quy-dau-tu">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>

    <div when-visible="vm.animateElementInRight" when-not-visible="vm.animateElementOut"
     class="post-animation col-md-12 qt-my-service-box qt-post">
        <div class="container">
            <p class="qt-my-service-title">DỊCH VỤ CỦA CHÚNG TÔI</p>
            <p class="qt-my-service-text">QUESTRA HOLDINGS EUROPE – một thương hiệu đầu tư tài chính hàng đầu thế giới, chuyên cung cấp cho các nhà đầu tư một phương tiện hoàn hảo nhất để bắt đầu thực hiện kế hoạch và ước mơ của mình. Một mô hình kinh doanh độc đáo với các danh mục đầu tư lợi nhuận cao, cho phép mỗi người có thể đạt được tự do tài chính ngay ở nơi mình đang sinh sống trong thời gian rất ngắn.</p>
            <p class="qt-my-service-text">Questra Holdings chuyên hoạt động đầu tư trong các lĩnh vực: Thương mại bất động sản, đấu giá các doanh nghiệp, hỗ trợ và tài trợ các công ty trên thị trường IPO (Cổ phần hóa doanh nghiệp). Ngoài ra Questra Holdings cũng giao dịch những cổ phiếu của các công ty có tiềm năng phát triển và nổi tiếng như Univar, TransUnion, Tesla, Facebook, Alibaba… và kiếm lợi nhuận từ 10% đến 3000%. Với những danh mục đầu tư kể trên, cùng kinh nghiệm và năng lực của các Manager, Questra Holdings đã đạt được lợi nhuận ấn tượng kể từ khi thành lập và mang đến cho nhà đầu tư nguồn thu nhập khổng lồ tăng trưởng đều đặn qua từng thời kỳ.</p>
            <p class="qt-my-service-text">“Ý tưởng cơ bản của Questra là cung cấp cho các nhà đầu tư một cơ hội đầu tư an toàn, uy tín, một nguồn lợi nhuận đều đặn, lâu dài, cũng như một sự nghiệp bền vững.”</p>
            <p class="qt-my-service-text">QUESTRA HOLDINGS có mặt ở thị trường Châu Âu từ năm 2009 và thực hiện hơn 1100 giao dịch trong 7 năm qua.</p>
            <p class="qt-my-service-text">Chỉ tính riêng năm 2015 lợi nhuận của Questra đạt khoảng hơn 231 triệu Euro với quỹ bảo hiểm vốn 54 triệu Euro.</p>
            <p class="qt-my-service-text">Với thành tích này, QUESTRA HOLDINGS được đánh giá là một nơi an toàn và hiệu quả khi tham gia đầu tư, cho đến hiện nay QUESTRA đã vươn tới 6 châu lục và kết nối 50 quốc gia. Để tiện cho việc phát triển toàn cầu, vào ngày 15.07.2016 QUESTRA đã tách ra thành 2 công ty:</p>
            <p class="qt-my-service-text"></p>
        </div>
    </div>

    <div when-visible="vm.animateElementInLeft" when-not-visible="vm.animateElementOut"
     class="post-animation col-md-12 qt-login-box qt-post">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="qt-login-box-title">ATLANTIC GLOBAL ASSET MANAGEMENT</p>
                    <p class="qt-login-box-short-content">Atlantic Global Asset Management chuyên quản lý các gói đầu tư.</p>
                    <div>
                        <div><img src="style/icon/homepage/PMBAICenter.png" alt="Chicago" style="border-radius: 5px;"></div>
                    </div>
                    <a target="_blank" href="https://private.atlanticgam.es/#/login" class="btn btn-info qt-home-gt-btn btn-login-po">ĐĂNG NHẬP PERSONAL OFFICE</a>
                </div>
                <div class="col-md-6">
                    <p class="qt-login-box-title">QUESTRAWORD</p>
                    <p class="qt-login-box-short-content">Questraworld chuyên quản lý đối tác và phần thưởng hệ thống.</p>
                    <div style="text-align: center;">
                        <div><img src="style/icon/homepage/office-new.jpg" alt="Chicago" style="border-radius: 5px;"></div>
                        <!--<button class="btn btn-info t-login-box-img-btn">
                            <i class="fa fa-share" aria-hidden="true"></i>
                        </button>-->
                    </div>
                    <a target="_blank" href="https://private.questraworld.es/#/login" class="btn btn-info qt-home-gt-btn">ĐĂNG NHẬP PERSONAL OFFICE</a>
                </div>
                
            </div>
        </div>
    </div>

    <div when-visible="vm.animateElementInRight" when-not-visible="vm.animateElementOut"
     class="post-animation col-md-12 qt-asset-box qt-post">
        <div class="container" style="margin-bottom: 50px; padding-top: 50px;">
            <div class="row">
                <div class="col-md-4">
                    <img src="style/icon/homepage/5-1.png" alt="Chicago">
                </div>
                <div class="col-md-8" style="text-align: center;">
                    <p class="qt-my-service-title">QUỸ BẢO HIỂM AN TOÀN</p>
                    <p class="qt-asset-text">Questra Holdings Europe đã có hơn 7 năm kinh nghiệm trong lĩnh vực đầu tư tài chính và luôn đặt việc bảo toàn nguồn vốn của các nhà đầu tư lên hàng đầu. Với các kinh nghiệm và năng lực vô giá của một đội ngũ nhân viên chuyên nghiệp có thể làm gia tăng lợi nhuận trong hơn 88% các danh mục đầu tư.</p>
                    <p class="qt-asset-text">Bởi lịch sử ấn tượng này, các nhà đầu tư có thể tin tưởng rằng, Questra sẽ bảo vệ nguồn vốn an toàn trước các lỗi ngẫu nhiên của các Manager, cũng như sự biến động của toàn bộ thị trường tài chính. Tất cả các danh mục đầu tư không thành công đều được bù đắp thông qua quỹ bảo hiểm của Questra Holdings.</p>
                    <a class="btn btn-info qt-home-gt-btn" href="https://questra-vietnam.com/quy-bao-hiem-toan-questra/" target="blank">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>

    <div when-visible="vm.animateElementInLeft" when-not-visible="vm.animateElementOut"
     class="post-animation col-md-12 qt-way-box qt-post">
        <div class="container" style="text-align: center;">
            <p class="qt-my-service-title" style="margin-bottom: 50px;">CHẶNG ĐƯỜNG PHÁT TRIỂN VÀ NHỮNG CON SỐ BIẾT NÓI</p>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-3">
                    <div><img src="style/icon/homepage/way1.png" alt="Chicago"></div>
                    <p class="qt-asset-text qt-way-box-text">Hoạt động đầu tư đã được chứng minh thành công và hiệu quả từ 2009 tại Châu Âu.</p>
                </div>
                <div class="col-md-3">
                    <div><img src="style/icon/homepage/way2.png" alt="Chicago"></div>
                    <p class="qt-asset-text qt-way-box-text">25 TOP-Manager và hơn 158 nhân viên chuyên nghiệp làm việc 110% tại Questra cho thành công của các nhà đầu tư.</p>
                </div>
                <div class="col-md-3">
                    <div><img src="style/icon/homepage/way3.png" alt="Chicago"></div>
                    <p class="qt-asset-text qt-way-box-text">Hơn 1100 danh mục đầu tư thành công và mang lại lợi nhuận trong 7 năm qua.</p>
                </div>
                <div class="col-md-3">
                    <div><img src="style/icon/homepage/way4.png" alt="Chicago"></div>
                    <p class="qt-asset-text qt-way-box-text">Lợi nhuận ấn tượng từ 2 – 4% được chuyển đều đặn hàng tuần vào tài khoản của nhà đầu tư.</p>
                </div>
            </div>
        </div>
    </div>

    <div when-visible="vm.animateElementInRight" when-not-visible="vm.animateElementOut"
     class="post-animation col-md-12 qt-asset-box qt-post">
        <div class="container" style="margin-bottom: 50px; padding-top: 50px;">
            <p class="qt-my-service-title" style="margin-bottom: 50px;">HÃY ĐĂNG KÝ NGAY ĐỂ ĐẦU TƯ SINH LỜI CÙNG NHAU!</p>
            <div class="row">
                <div class="col-md-6" style="text-align: center;">
                    <p class="qt-contact-video-title">QUỸ MỞ QUESTRA EUROPE – ĐẲNG CẤP TỪ CHÂU ÂU</p>
                    <iframe class="home-clip-youtube" width="560" height="315" src="https://www.youtube.com/embed/yUXVmCmzmtg" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-md-6" style="text-align: center;">
                    <p class="qt-contact-new-title">Tin tức cập nhật</p>
                    <p class="line-statistic"></p>
                    <div class="row qt-statistic-box" ng-repeat="tin in vm.listTin">
                        <div class="col-md-2">
                            <div class="qt-big-square-border">
                                <a href=""><img ng-src="{{tin.image}}" ng-click="vm.viewDetail(tin.id)" alt="Chicago" style="width: 50px; height: 50px;"></a>
                            </div>
                        </div>
                        <div class="col-md-10 qt-statistic-content">
                            <p class="qt-statistic-content-time">{{tin.TimePost | date: 'dd-MM-yyyy'}}</p>
                            <a class="link-read-statistic" href="" ng-click="vm.viewDetail(tin.id)"><p class="qt-statistic-content-text">{{tin.title}}</p></a>
                        </div>
                    </div>
                    
                    <a class="btn btn-info qt-home-gt-btn" style="padding: 9px 30px !important;" href="" ng-click="vm.goListPostPage(1)">
                        <i class="fa fa-share"></i> Xem thêm...
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>