<div ui-view>
    <div when-visible="vm.animateElementInLeft" when-not-visible="vm.animateElementOut" class="post-animation col-md-12 qt-introduce-box qt-post" style="background-color: white;margin-bottom: -50px;">
        <div class="container">
            <div class="home-questra-vietnam">
                <p style="margin-top: 30px; color: red; font-size: 30px; font-weight: bold;">Questra Vietnam</p>
                <p>Questra Holdings Euro đã có hơn 7 năm kinh nghiệm trong lĩnh vực đầu tư tài chính và</p>
                <p style="margin-bottom: 30px;">luôn đặt việc bảo toàn nguồn vốn của các nhà đầu tư lên hàng đầu</p>
            </div>
            <div class="row">
                <div class="col-md-6" style="text-align: center;">
                    <p class="qt-contact-video-title">QUỸ MỞ QUESTRA EUROPE – ĐẲNG CẤP TỪ CHÂU ÂU</p>
                    <iframe class="home-clip-youtube" width="560" height="315" src="https://www.youtube.com/embed/yUXVmCmzmtg" frameborder="0"
                        allowfullscreen></iframe>
                </div>
                <div class="col-md-6" style="text-align: center;">
                    <p class="qt-contact-new-title">Tin tức cập nhật</p>
                    <p class="line-statistic"></p>
                    <div class="row qt-statistic-box" ng-repeat="tin in vm.listTin">
                        <div class="col-md-2">
                            <div class="qt-big-square-border">
                                <a href=""><img ng-src="{{tin.image}}" ng-click="vm.viewDetail(tin.id)" alt="Chicago" style="width: 50px; height: 50px;"></a>
                            </div>
                        </div>
                        <div class="col-md-10 qt-statistic-content">
                            <p class="qt-statistic-content-time">{{tin.TimePost | date: 'dd-MM-yyyy'}}</p>
                            <a class="link-read-statistic" href="" ng-click="vm.viewDetail(tin.id)">
                                <p class="qt-statistic-content-text">{{tin.title}}</p>
                            </a>
                        </div>
                    </div>

                    <a class="btn btn-info qt-home-gt-btn" style="padding: 9px 30px !important;" href="" ng-click="vm.goListPostPage(1)">
                        <i class="fa fa-share"></i> Xem thêm...
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="why-us-image" when-visible="vm.animateElementInRight" when-not-visible="vm.animateElementOut" class="post-animation col-md-12 qt-my-service-box qt-post" style="background-color: white;margin-bottom: -50px;">
        <div class="container">
            <img id="image-bien" src="style/icon/bien.png" />
            <p class="why-us-title">Tại sao bạn lựa chọn chúng tôi?</p>
            <a ui-sref="start.su-kien" class="btn btn-info btn-why-us" style="border-radius: 20px !important;">Xem thêm</a>
        </div>
    </div>

    <div when-visible="vm.animateElementInLeft" when-not-visible="vm.animateElementOut" class="post-animation col-md-12 qt-login-box qt-post" style="background-color: white;margin-bottom: -50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4" style="cursor: pointer;margin-bottom: 10px;" ng-click="vm.goEvent()">
                    <img style="width: 100%; height: 225px;opacity: 0.5;" src="style/icon/kinhnghiem.jpg">
                    <p class="hop-mhom-title">Họp nhóm</p>
                    <p class="hop-nhom-line"></p>
                    <p class="hop-nhom-text">Chia sẽ kinh nghiệm cùng nhau thành công</p>
                </div>
                <div class="col-md-4" style="cursor: pointer;margin-bottom: 10px;" ng-click="vm.goEvent()">
                    <img style="width: 100%; height: 225px;opacity: 0.5;" src="style/icon/hopnhom.jpg">
                    <p class="hop-mhom-title">Đối tác</p>
                    <p class="hop-nhom-line"></p>
                    <p class="hop-nhom-text">Trở thành đối tác của chúng tôi, ưu đãi bất ngờ và hơn thế nữa</p>
                </div>
                <div class="col-md-4" style="cursor: pointer;margin-bottom: 10px;" ng-click="vm.goEvent()">
                    <img style="width: 100%; height: 225px;opacity: 0.5;" src="style/icon/tuvan.jpg">
                    <p class="hop-mhom-title">Tư vấn</p>
                    <p class="hop-nhom-line"></p>
                    <p class="hop-nhom-text">Trò chuyện cùng đội ngũ kỹ thuật viên giàu kinh nghiệm</p>
                </div>
            </div>
        </div>
    </div>

    <div when-visible="vm.animateElementInRight" when-not-visible="vm.animateElementOut" class="post-animation col-md-12 qt-asset-box qt-post" style="background-color: white;margin-bottom: -50px;">
        <div class="container" style="margin-bottom: 50px; padding-top: 50px;">
            <p class="qt-my-service-title" style="margin-bottom: 50px;">HÃY ĐĂNG KÝ NGAY ĐỂ ĐẦU TƯ SINH LỜI CÙNG NHAU!</p>
            <div class="row">

            </div>
        </div>
    </div>
</div>