<h2 class="qdt-header-title">HÃY CHỌN GÓI ĐẦU TƯ VÀ THU LỢI NHUẬN HÀNG TUẦN</h2>
<div class="cac-goi-dau-tu-box">
    <div class="container">
        <p class="cac-goi-dau-tu-title">Các gói đầu tư</p>
        <div class="row">
            <div class="col-md-4" style="text-align: center; margin-bottom: 20px;">
                <img class="qdt-img-icon" ng-click="vm.showBoxToTop('blue')" src="style/icon/quydautuicon/quydautu1blue.png" alt="">
                <button class="qdt-button-overlay btn btn-info" ng-click="vm.showBoxToTop('blue')"><i class="fa fa-share" ></i>
            </div>
            <div class="col-md-4" style="text-align: center; margin-bottom: 20px;">
                <img class="qdt-img-icon" ng-click="vm.showBoxToTop('red')" src="style/icon/quydautuicon/quydautu1red.png" alt="">
                <button class="qdt-button-overlay btn btn-info" ng-click="vm.showBoxToTop('red')"><i class="fa fa-share" ></i>
            </div>
            <div class="col-md-4" style="text-align: center; margin-bottom: 20px;">
                <img class="qdt-img-icon" ng-click="vm.showBoxToTop('black')" src="style/icon/quydautuicon/quydautu1black.png" alt="">
                <button class="qdt-button-overlay btn btn-info" ng-click="vm.showBoxToTop('black')"><i class="fa fa-share" ></i>
            </div>
        </div>
    </div>
</div>
<div class="cac-goi-dau-tu-box">
    <div class="container">
        <p class="cac-goi-dau-tu-title">Các gói tái đầu tư</p>
        <div class="row">
            <div class="col-md-4" style="text-align: center; margin-bottom: 20px;">
                <img class="qdt-img-icon" ng-click="vm.showBoxToTop('white')" src="style/icon/quydautuicon/quydautu1white.png" alt="">
                <button class="qdt-button-overlay btn btn-info" ng-click="vm.showBoxToTop('white')"><i class="fa fa-share" ></i>
            </div>
            <div class="col-md-4" style="text-align: center; margin-bottom: 20px;">
                <img class="qdt-img-icon" ng-click="vm.showBoxToTop('yellow')" src="style/icon/quydautuicon/quydautu1yellow.png" alt="">
                <button class="qdt-button-overlay btn btn-info" ng-click="vm.showBoxToTop('yellow')"><i class="fa fa-share" ></i>
            </div>
            <div class="col-md-4" style="text-align: center; margin-bottom: 20px;">
                <img class="qdt-img-icon" ng-click="vm.showBoxToTop('green')" src="style/icon/quydautuicon/quydautu1green.png" alt="">
                <button class="qdt-button-overlay btn btn-info" ng-click="vm.showBoxToTop('green')"><i class="fa fa-share" ></i>
            </div>
        </div>
    </div>
</div>

<div class="phuong-thuc-thanh-toan-box">
    <div class="container">
        <p class="phuong-thuc-thanh-toan-title">PHƯƠNG THỨC THANH TOÁN</p>
        <div class="pay-way-slider">
            <div class="outside">
                <p><span id="slider-prev"></span>  <span id="slider-next"></span>
                </p>
            </div>
            <ul class="pay-way-slider-bxslider">
                <li><img src="style/icon/quydautuicon/slide1.png" /></li>
                <li><img src="style/icon/quydautuicon/slide2.png" /></li>
                <li><img src="style/icon/quydautuicon/slide3.gif" /></li>
                <li><img src="style/icon/quydautuicon/slide4.png" /></li>
                <li><img src="style/icon/quydautuicon/slide5.png" /></li>
                <li><img src="style/icon/quydautuicon/slide6.png" /></li>
            </ul>
        </div>
    </div>
</div>

<div class="goi-dau-tu-white-box">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="goi-dau-tu-white-icon">
                    <img class="qdt-img-icon" src="style/icon/quydautuicon/quydautu1white.png" alt="" >
                    <img src="style/icon/register.gif" alt="Đăng ký tham gia" style="cursor: pointer;" ng-click="vm.register()" />
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="white-box-info-left">
                            <p class="white-box-info-left-title">Tên gói</p>
                            <p class="white-box-info-left-title">% Doanh thu trung bình hàng tuần</p>
                            <p class="white-box-info-left-title">% – € Doanh thu trung bình hàng tháng</p>
                            <p class="white-box-info-left-title">% – € Doanh thu trung bình năm</p>
                            <p class="white-box-info-left-title">Thời gian chia sẻ</p>
                            <p class="white-box-info-left-title">Thời hạn</p>
                            <p class="line-solid"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="white-box-info-right">
                            <p class="white-box-info-right-title-1-first">White</p>
                            <p class="white-box-info-right-title-2">~4 % (2% vốn + 2% lợi nhuận)</p>
                            <p class="white-box-info-right-title-1">16% – 15 €</p>
                            <p class="white-box-info-right-title-2">192% – 187 €</p>
                            <p class="white-box-info-right-title-1">Thứ 6 hàng tuần</p>
                            <p class="white-box-info-right-title-2-last">365 ngày (52 tuần)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="goi-dau-tu-yellow-box">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="goi-dau-tu-white-icon">
                    <img class="qdt-img-icon" src="style/icon/quydautuicon/quydautu1yellow.png" alt="" >
                    <img src="style/icon/register.gif" alt="Đăng ký tham gia" style="cursor: pointer;" ng-click="vm.register()" />
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="white-box-info-left box-grey">
                            <p class="white-box-info-left-title">Tên gói</p>
                            <p class="white-box-info-left-title">% Doanh thu trung bình hàng tuần</p>
                            <p class="white-box-info-left-title">% – € Doanh thu trung bình hàng tháng</p>
                            <p class="white-box-info-left-title">% – € Doanh thu trung bình năm</p>
                            <p class="white-box-info-left-title">Thời gian chia sẻ</p>
                            <p class="white-box-info-left-title">Thời hạn</p>
                            <p class="line-solid"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="white-box-info-right">
                            <p class="white-box-info-right-title-1-first">Yellow</p>
                            <p class="white-box-info-right-title-2">~4.2 % (2% vốn + 2,2 % lợi nhuận)</p>
                            <p class="white-box-info-right-title-1">16,8% – 45 €</p>
                            <p class="white-box-info-right-title-2">200% – 540 €</p>
                            <p class="white-box-info-right-title-1">Thứ 6 hàng tuần</p>
                            <p class="white-box-info-right-title-2-last">365 ngày (52 tuần)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="goi-dau-tu-green-box">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="goi-dau-tu-white-icon">
                    <img class="qdt-img-icon" src="style/icon/quydautuicon/quydautu1green.png" alt="" >
                    <img src="style/icon/register.gif" alt="Đăng ký tham gia" style="cursor: pointer;" ng-click="vm.register()" />
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="white-box-info-left">
                            <p class="white-box-info-left-title">Tên gói</p>
                            <p class="white-box-info-left-title">% Doanh thu trung bình hàng tuần</p>
                            <p class="white-box-info-left-title">% – € Doanh thu trung bình hàng tháng</p>
                            <p class="white-box-info-left-title">% – € Doanh thu trung bình năm</p>
                            <p class="white-box-info-left-title">Thời gian chia sẻ</p>
                            <p class="white-box-info-left-title">Thời hạn</p>
                            <p class="line-solid"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="white-box-info-right">
                            <p class="white-box-info-right-title-1-first">Green</p>
                            <p class="white-box-info-right-title-2">~4.6 % (2% vốn + 2,6% lợi nhuận)</p>
                            <p class="white-box-info-right-title-1">18,4% – 150 €</p>
                            <p class="white-box-info-right-title-2">220% – 1.800 €</p>
                            <p class="white-box-info-right-title-1">Thứ 6 hàng tuần</p>
                            <p class="white-box-info-right-title-2-last">365 ngày (52 tuần)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="goi-dau-tu-blue-box">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="goi-dau-tu-white-icon">
                    <img class="qdt-img-icon" src="style/icon/quydautuicon/quydautu1blue.png" alt="" >
                    <img src="style/icon/register.gif" alt="Đăng ký tham gia" style="cursor: pointer;" ng-click="vm.register()" />
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="white-box-info-left box-grey">
                            <p class="white-box-info-left-title">Tên gói</p>
                            <p class="white-box-info-left-title">% Doanh thu trung bình hàng tuần</p>
                            <p class="white-box-info-left-title">% – € Doanh thu trung bình hàng tháng</p>
                            <p class="white-box-info-left-title">% – € Doanh thu trung bình năm</p>
                            <p class="white-box-info-left-title">Thời gian chia sẻ</p>
                            <p class="white-box-info-left-title">Thời hạn</p>
                            <p class="line-solid"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="white-box-info-right">
                            <p class="white-box-info-right-title-1-first">Blue</p>
                            <p class="white-box-info-right-title-2">~5 % (2% vốn + 3% lợi nhuận)</p>
                            <p class="white-box-info-right-title-1">20% – 500€</p>
                            <p class="white-box-info-right-title-2">240% – 6.000 €</p>
                            <p class="white-box-info-right-title-1">Thứ 6 hàng tuần</p>
                            <p class="white-box-info-right-title-2-last">365 ngày (52 tuần)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="goi-dau-tu-red-box">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="goi-dau-tu-white-icon">
                    <img class="qdt-img-icon" src="style/icon/quydautuicon/quydautu1red.png" alt="" >
                    <img src="style/icon/register.gif" alt="Đăng ký tham gia" style="cursor: pointer;" ng-click="vm.register()" />
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="white-box-info-left">
                            <p class="white-box-info-left-title">Tên gói</p>
                            <p class="white-box-info-left-title">% Doanh thu trung bình hàng tuần</p>
                            <p class="white-box-info-left-title">% – € Doanh thu trung bình hàng tháng</p>
                            <p class="white-box-info-left-title">% – € Doanh thu trung bình năm</p>
                            <p class="white-box-info-left-title">Thời gian chia sẻ</p>
                            <p class="white-box-info-left-title">Thời hạn</p>
                            <p class="line-solid"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="white-box-info-right">
                            <p class="white-box-info-right-title-1-first">Red</p>
                            <p class="white-box-info-right-title-2">~5.2 % (2% vốn + 3,2% lợi nhuận)</p>
                            <p class="white-box-info-right-title-1">20,8% – 1.500 €</p>
                            <p class="white-box-info-right-title-2">250% – 18.000 €</p>
                            <p class="white-box-info-right-title-1">Thứ 6 hàng tuần</p>
                            <p class="white-box-info-right-title-2-last">365 ngày (52 tuần)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="goi-dau-tu-black-box">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="goi-dau-tu-white-icon">
                    <img class="qdt-img-icon" src="style/icon/quydautuicon/quydautu1black.png" alt="" >
                    <img src="style/icon/register.gif" alt="Đăng ký tham gia" style="cursor: pointer;" ng-click="vm.register()" />
                </div>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="white-box-info-left box-grey">
                            <p class="white-box-info-left-title">Tên gói</p>
                            <p class="white-box-info-left-title">% Doanh thu trung bình hàng tuần</p>
                            <p class="white-box-info-left-title">% – € Doanh thu trung bình hàng tháng</p>
                            <p class="white-box-info-left-title">% – € Doanh thu trung bình năm</p>
                            <p class="white-box-info-left-title">Thời gian chia sẻ</p>
                            <p class="white-box-info-left-title">Thời hạn</p>
                            <p class="line-solid"></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="white-box-info-right">
                            <p class="white-box-info-right-title-1-first">Red</p>
                            <p class="white-box-info-right-title-2">~6 % (2% vốn + 4% lợi nhuận)</p>
                            <p class="white-box-info-right-title-1">24% (8% vốn + 16% lãi) – 5.000 €</p>
                            <p class="white-box-info-right-title-2">300% – 60.000 €</p>
                            <p class="white-box-info-right-title-1">Thứ 6 hàng tuần</p>
                            <p class="white-box-info-right-title-2-last">365 ngày (52 tuần)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="box-before-footer" style="height: 100px;">
    <div class="container" style="padding-top: 30px;">
        <hr style="border-top: 1px solid darkgray;">
    </div>
</div>
